<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->
<mapper namespace="com.tgb.mapper.UserMapper">

	<insert id="save" parameterType="User">
		insert into
		t_user(user_name,user_age,user_sex,user_phone,user_addr,user_other) values(#{userName},#{age},#{sex},#{phone},#{addr},#{userOther})
	</insert>

	<update id="update" parameterType="User">
		update t_user set
		user_name=#{userName},user_age=#{age},user_sex=#{sex},user_phone=#{phone},user_addr=#{addr},user_other=#{userOther} where user_id=#{id}
	</update>

	<delete id="delete" parameterType="int">
		delete from t_user where
		user_id=#{id}
	</delete>

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->
	<select id="findById" parameterType="int" resultType="User">
		select
		user_id id,user_name 
		userName,user_age age,user_sex sex,user_phone phone,user_addr addr,user_other userOther from t_user where
		user_id=#{id}
	</select>

	<select id="findAll" resultType="User">
		select user_id id,user_name
		userName,user_age age,user_sex sex,user_phone phone,user_addr addr,user_other userOther from t_user
	</select>
	
	<select id="searchAllUser" resultType="User">
		select user_id
		id,user_name
		userName,user_age age,user_sex sex,user_phone phone,user_addr addr,user_other userOther from t_user 
		limit #{1},#{0}
	</select>
	<select id="searchAllUserCount" resultType="int">
		select count(*) from
		t_user
	</select>
	
	<select id="searchAllUserByNameAge" resultType="User">
		select user_id
		id,user_name 
		userName,user_age age,user_sex sex,user_phone phone,user_addr addr,user_other userOther from t_user
		where user_name LIKE
		CONCAT(CONCAT('%', #{2}), '%')
		and user_age=#{3} 
		limit #{1},#{0}
	</select>
	<select id="searchAllUserByNameAgeCount" resultType="int">
		select
		count(*) from t_user
		where user_name LIKE
		CONCAT(CONCAT('%', #{0}), '%')
		and user_age=#{1} 
	</select>
	
	<select id="searchAllUserByName" resultType="User">
		select user_id
		id,user_name userName,user_age age,user_sex sex,user_phone phone,user_addr addr,user_other userOther from t_user
		where user_name LIKE
		CONCAT(CONCAT('%', #{2}), '%') 
		limit #{1},#{0}
	</select>
	<select id="searchAllUserByNameCount" resultType="int">
		select count(*)
		from t_user
		where user_name LIKE
		CONCAT(CONCAT('%', #{0}), '%')
	</select>

	<select id="searchAllUserByAge" resultType="User">
		select user_id
		id,user_name userName,user_age age,user_sex sex,user_phone phone,user_addr addr,user_other userOther from t_user
		where user_age=#{2} 
		limit #{1},#{0}
	</select>
	<select id="searchAllUserByAgeCount" resultType="int">
		select count(*)
		from t_user
		where user_age=#{0}
	</select>
	<select id="findAdmin" resultType="Admin">
		select *
		from admin
		where name=#{0}
	</select>
</mapper>